
.sectionone{
			position: absolute;
			left: 1%;
			width: 98%;
            top: 1vh;
            height: 98vh	;		
            margin: 0;
			background-color: none;
            opacity: .1;
            overflow: hidden;
            z-index: -1;
		}
        
        
              
.firstbox {
           position: absolute;
			left: 504px;
			width: 432px;
            top: 152px;
            height: 384px;
			margin: 0;
			background-color: none;
            opacity: 1;
            overflow: hidden;
        }    


        
.secondbox {
           position: absolute;
			left: 972px;
			width: 439.2px;
            top: 128px;
            height: 408px;
			margin: 0;
			background-color: #F8F8F8	;
            opacity: 1;
            overflow: hidden;
            text-align: center;        
        }    



.thirdbox {
           position: absolute;
			left: 28.8px;
			width: 446.4px;
            top: 128px;
            height: 408px;
			margin: 0;
            opacity: 1;
            overflow: hidden;
            text-align: center;    
           z-index: ;
        background-color:  #e6f2ff  ;


        }    

.headingbox4 {
           position: absolute;
			left: 504px;
			width: 432px;
            top: 136px;
            height: 32px;
			margin: 0;
			background-color: none;
            opacity: 1;
            overflow: hidden;

        }   


#Instructions2 {
    dominant-baseline: hanging;
    text-anchor: middle;
    font-size: 3px;
    font-weight: lighter;
    
}

.dropdownbox {
           position: absolute;
			left: 36px;
			width: 432px;
            top: 84px;
            height: 32px;
			margin: 0;
			background-color: none;
            opacity: 1;
        }    

 


.headingbox {
           position: absolute;
			left: 504px;
			width: 432px;
            top: 76px;
            height: 48px;
			margin: 0;
			background-color: none;
            opacity: 1;
                overflow: hidden;

        }    

#bounded{
    
                    overflow: hidden;

    
}

#DistrictLabel {
    dominant-baseline: hanging;
    text-anchor: middle;
    font-size: 4.5px;
    font-weight: bold;
    
}


.headingbox2 {
           position: absolute;
			left: 2.5%;
			width: 30%;
            top: 20px;
            height: 32px;
			margin: 0;
			background-color: none;
            opacity: 1;
            z-index: 5;
        }  


#Instructions {
    dominant-baseline: hanging;
    text-anchor: left;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
        font-weight: lighter;


    
}



.headingbox3 {
           position: absolute;
			left: 964.8px;
			width: 432px;
            top: 76px;
            height: 48px;
			margin: 0;
			background-color: none;
            opacity: 1;
            overflow: hidden;

        }   

#BetweenDistrictLabel {
    dominant-baseline: hanging;
    text-anchor: middle;
    font-size: 4.5px;
    font-weight: bold;    
}




.headingbox5 {
           position: absolute;
			left: 964.8px;
			width: 432px;
            top: 136px;
            height: 32px;
			margin: 0;
			background-color: none;
            opacity: 1;
            overflow: hidden;
        }   


#Instructions3 {
    dominant-baseline: hanging;
    text-anchor: middle;
    font-size: 3px;
    font-weight: lighter;
    
}
       







.titlebox {
           position: absolute;
			left: 0px;
			width: 1440px;
            top: 4px;
            height: 60px;
			margin: 0;
			background-color: #E8E8E8		;
            opacity: 1;
            overflow: hidden;
            text-align: center;        
        }   
          
#TopTitle {
    dominant-baseline: middle;
    text-anchor: middle;
    font-size:  400px;
    font-weight: Bold;  
        font-family: 'Open Sans', sans-serif;

}

body {
    font-family: 'Open Sans', sans-serif;

}

text {
        font-family: 'Open Sans', sans-serif;

    
}

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
        }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;

}


#line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;

}


#buttons1{
        float: bottom;
       // text-align:center;
        height: 50px;
    }

#RwandaChart {
    position: absolute;
        z-index: 0;
        background-color: transparent;
}

.RwandaChart {
    position: absolute;
    top: 30%;
    left: 0px;
    z-index: 0;
    
}

.sdgselector{
        position: relative;
        width: 200px;
        left: 10px;
       background-color: transparent;
        font-size: 18px;


}

.districtselector{
        position: absolute;
        width: 15%;
        top: 0%;
        left: 45%
}


#tooltip {
            position: absolute;
            top: 0px;
            left: 0px;
            width: auto;
            visibility: hidden;
            font-size: 10px;
            background-color: #d6ecef;
            padding: 10px;
            box-shadow: 3px 3px 3px #cccccc;
            border-radius: 3px;
            text-align: left;
            opacity: 0.85;
            border-radius: 7.5px;

        }


#SDGSelectorLabel{
  font-weight: Bold;
    font-size: 18px;
        dominant-baseline: hanging;


}

.radarchart1{
     position: absolute;
			left: 288px;
			width: 288px;
            top: 552px;
            height: 248px;
			margin: 0;
			background-color: none;
            opacity: 1;
            overflow: visible;
    
}

radar.radarchartaggregate {
                overflow: visible;

    
}


.radarchart2{
     position: absolute;
			left: 576px;
			width: 288px;
            top: 552px;
            height: 248px;
			margin: 0;
			background-color: none;
            opacity: 1;
            overflow: visible;   
}



.radarchart3{
    position: absolute;
    left: 864px;
    width: 288px;
    top: 552px;
    height: 248px;
    margin: 0;
    background-color: none;
    opacity: 1;
    overflow: visible;   
}


.radarchartlabels {
    position: absolute;
    left: 28.8px;
    width: 259.2px;
    top: 552px;
   height: 248px;
    margin: 0;
    background-color: none;
    opacity: 1;
    overflow: visible;  
}

#legendtext {
    dominant-baseline: middle;
    text-anchor: left;
    font-size: 5px;
    font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
    
}

#radarchartitles {
     dominant-baseline: hanging;
    text-anchor: left;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
        font-weight: lighter; 
    
}

#radarchartexplanations {
     dominant-baseline: hanging;
    text-anchor: left;
    font-size: 4px;
    font-family: 'Open Sans', sans-serif;
        font-weight: lighter; 
    
}

.aboutdata {
    position: absolute;
    left: 1152px;
    width: 259.2px;
    top: 552px;
    height: 160px;
    margin: 0;
    background-color: none;
    opacity: 1;
    overflow: visible;  
}


#aboutdatatitles {
     dominant-baseline: hanging;
    text-anchor: left;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
        font-weight: lighter; 
    
}


#buttonplacement {
    
     position: absolute;
    left: 36px;
    width: 144px;
    top: 752px;
    height: 80px;
    margin: 0;
    background-color: none;
    opacity: 1;
    overflow: hidden;  
    
    
}

#buttonclick {
    
        width: 90%;
        font-size: 12px;

}


